<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Metatags e links para CSS e ícones -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="../public/inverne.css" />

  <title>VANILLA - INVERNO</title>
</head>

<body>
  <button class="back-button" onclick="window.location.href = 'store';">
    <i class="ri-arrow-left-line"></i>
  </button>

  <!-- Barra de navegação -->
  <nav class="nav">
    <div class="nav__container">
      <!-- Logo -->
      <a href="#" class="nav__logo">COLEÇÃO DE INVERNO</a>

      <!-- Ícones de navegação -->
      <div class="nav__icons">
        <span><i class="ri-shield-user-line"></i></span>
        <span><i class="ri-search-line"></i></span>
        <span><i class="ri-shopping-cart-line"></i></span>
      </div>
    </div>
  </nav>
  <!-- Tabela para dividir as 16 imagens em 4 fileiras -->

  <table class="image-table">
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-1.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Cargo Preta</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-2.jpg" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Destroyed Clara</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-3.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Wide Leg Bege</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-4.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Mom Clara</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-1.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Preta</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-2.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Branca</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-3.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Bronze</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-4.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Barra Reta Cinza</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-1.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Punho Princesa Azul</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-2.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Decote Cruzado Off-White</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-3.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Gola Alta Preto</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-4.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Decote V Cinza Escuro</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-1.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Liso Preto</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-2.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Com Zíper e Capuz Cinza</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-3.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Liso Marrom</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-4.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Com Capuz Rose</h4>
        <p class="price">R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
  </table>

  <div id="mensagemCarrinho"></div>

  <!-- Botão circular com seta para voltar para a página inicial -->
  <button class="back-button" onclick="window.location.href = 'store';">
    <i class="ri-arrow-left-line"></i>
  </button>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var buyButtons = document.querySelectorAll(".buy-button");

      buyButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          alert("Produto adicionado ao carrinho!");
        });
      });
    });
  </script>
</body>

</html>