<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Metatags e links para CSS e ícones -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/tode.css">
  <!-- Importar a fonte Remixicon para ícones -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
  <title>VANILLA</title>
</head>

<body>
  <!-- Barra de navegação -->
  <nav class="nav">
    <div class="nav__container">
      <!-- Logo -->
      <a href="#" class="nav__logo">TODOS OS PRODUTOS</a>


      <!-- Ícones de navegação -->
      <div class="nav__icons">
        <span><i class="ri-shield-user-line"></i></span>
        <span><i class="ri-search-line"></i></span>
        <span><i class="ri-shopping-cart-line"></i></span>
      </div>
    </div>
  </nav>
  <style>
    /* Estilize o h1 para centralizá-lo */
    h1 {
      text-align: center;
    }
  </style>

  <!-- Tabela para dividir as 32 imagens em 4 fileiras -->

  <table class="image-table">
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-1.png" alt="must have" />
        <h4>SHORT JEANS</h4>
        <h4>Short Jeans Misto</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-2.png" alt="must have" />
        <h4>SHORT JEANS</h4>
        <h4>Short Jeans Claro</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-3.png" alt="must have" />
        <h4>SHORT JEANS</h4>
        <h4>Short Jeans Escuro</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-4.png" alt="must have" />
        <h4>SHORT JEANS</h4>
        <h4>Short Jeans Destroyed Verde</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-1.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Cargo Preta</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-2.jpg" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Destroyed Clara</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-3.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Wide Leg Bege</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-4.png" alt="must have" />
        <h4>CALÇA JEANS</h4>
        <h4>Calça Mom Clara</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-M-1.png" alt="must have" />
        <h4>SHORT MOLETOM</h4>
        <h4>Short Moletom Preto</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-M-2.png" alt="must have" />
        <h4>SHORT MOLETOM</h4>
        <h4>Kit Short Moletom Preto e Branco</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-M-3.png" alt="must have" />
        <h4>SHORT MOLETOM</h4>
        <h4>Short Moletom Verde Claro</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/SHORT-M-4.png" alt="must have" />
        <h4>SHORT MOLETOM</h4>
        <h4>Short Moletom Cinza</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-1.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Preta</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-2.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Branca</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-3.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Com Punho Bronze</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/CALCA-M-4.png" alt="must have" />
        <h4>CALÇA MOLETOM</h4>
        <h4>Calça Barra Reta Cinza</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CROPPED-1.png" alt="must have" />
        <h4>CROPPED</h4>
        <h4>Cropped Corset Regata Preto</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CROPPED-2.png" alt="must have" />
        <h4>CROPPED</h4>
        <h4>Cropped Em V Alcinha Off-White</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CROPPED-3.png" alt="must have" />
        <h4>CROPPED</h4>
        <h4>Cropped Camiseta Larga Bege</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CROPPED-4.png" alt="must have" />
        <h4>CROPPED</h4>
        <h4>Kit Cropped Regata Preto, Branco e Bege</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-1.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Punho Princesa Azul</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-2.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Decote Cruzado Off-White</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-3.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Gola Alta Preto</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/TRICOT-4.png" alt="must have" />
        <h4>TRICOT</h4>
        <h4>Tricot Decote V Cinza Escuro</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CAMISETA-KIT-4.png" alt="must have" />
        <h4>CROPPED</h4>
        <h4>Kit Cropped Camiseta Larga Preto, Marrom e Bege </h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CAMISETA-1.png" alt="must have" />
        <h4>CAMISETA</h4>
        <h4>Camiseta Gola V Branca</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CAMISETA-2.png" alt="must have" />
        <h4>CAMISETA</h4>
        <h4>Camiseta Mostarda</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/VERAO/CAMISETA-3.png" alt="must have" />
        <h4>CAMISETA</h4>
        <h4>Camiseta Manga Dobrada Cinza</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
    <tr>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-1.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Liso Preto</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-2.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Com Zíper e Capuz Cinza</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-3.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Liso Marrom</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
      <td>
        <img class="musthave__image" src="../public/imgs/INVERNO/MOLETOM-4.png" alt="must have" />
        <h4>MOLETOM</h4>
        <h4>Moletom Com Capuz Rose</h4>
        <p class="price"> R$45.00</p>
        <button class="buy-button">Adicionar ao carrinho</button>
      </td>
    </tr>
  </table>
  <div id="mensagemCarrinho"></div>

  <!-- Botão circular com seta para voltar para a página inicial -->
  <button class="back-button" onclick="window.location.href = 'store';">
    <i class="ri-arrow-left-line"></i>
  </button>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var buyButtons = document.querySelectorAll('.buy-button');

      buyButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          alert('Produto adicionado ao carrinho!');
        });
      });
    });
  </script>
</body>

</html>